.card{
 display: flex; 
 flex-direction: column;
 height: 150px;
 width: 150px;
}

.card-header{
    background-color: red;
    
}

.card-body{
     background-color: blue;
    flex:1;
}

.card-footer{
    background-color: green;
}